<%= form_tag custom_message_settings_path, method: :post do %>
  <%= hidden_field_tag :tab, 'normal' %>
  <label><%= l(:field_language) %>: </label>
  <%= select_tag 'lang', options_for_select(languages_options, @lang), include_blank: true, data: {remote: true, url: url_for(action: :edit)}, onchange: '$("#ajax-indicator").show();' %>
  <hr>

  <div id='edit-custom-messages'>
    <%= render 'custom_message_settings/messages', lang: @lang %>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>