<%= form_tag custom_message_settings_path, method: :post do %>
  <%= hidden_field_tag :tab, 'yaml' %>
  <div class='help-message wiki'>
    <p>
      <%= l(:text_help_for_input_format) %><br>
      <%= l(:text_for_your_reference, open_default_messages_window_link(@lang)).html_safe %>
    </p>
    <p><%= l(:text_placeholder_template_case) %></p>
    <pre><%= l(:text_placeholder_yaml_template) %></pre>
  </div>
  <%= text_area_tag 'settings[custom_messages_yaml]', @setting.custom_messages_to_yaml, rows: '30', style: 'width: 100%', placeholder: l(:text_placeholder_yaml_template) %>
  <%= submit_tag l(:button_save) %>
<% end %>