<%= stylesheet_link_tag('custom_messages', plugin: 'redmine_message_customize') %>
<%= stylesheet_link_tag('select2.min', plugin: 'redmine_message_customize') %>
<%= javascript_include_tag('select2.min', plugin: 'redmine_message_customize') %>
<h2><%= l(:label_custom_messages) %></h2>

<% if @setting.errors.any? %>
  <%= error_messages_for(@setting) %>
<% else %>
  <p class='customize-action-menu'>
    <span class='icon icon-settings'></span>
    <%= link_to (@setting.enabled? ? l(:label_disable_customize) : l(:label_enable_customize)), toggle_enabled_custom_message_settings_path, method: :post %> /
    <%= link_to(l(:label_yaml_edit), yaml_edit_custom_message_settings_path) %>
  </p>

  <label><%= l(:field_language) %>: </label>
  <%= select_tag 'lang', options_for_select(languages_options, @lang), include_blank: true, data: {remote: true, url: url_for(action: :edit)}, onchange: '$("#ajax-indicator").show();' %>
  <hr>

  <%= render_tabs (@setting.errors.any? ? [] : [{name: 'messages', partial: 'messages_tab', label: 'label_messages_tab'}, {name: 'names', partial: 'names_tab', label: 'label_names_tab'}]) %>
<% end %>